{% comment %}
    -> this file is the starting point for future templates
    -> you can extend blocks in Jinja from boostrap which already has these blocks installed
    -> the .py file is the app on the server side, which does route handling
    -> that allows us to dynamically fill the content of html pages (base ones which can inherit from each other)
    -> in those html pages, this is done with Jinja variables / blocks for control structures
    -> this can be generalised into Flask which contains templates that can be used
    -> it's like sass, but for html
{% endcomment %}
{% extends 'bootstrap/base.html' %}
{% block title %}{{super()}}Ragtime -{% endblock %}
{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Ragtime</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock  %}
</div>
{% endblock content %}
