{% comment %} <h1>Hello Web World!</h1> {% endcomment %}

{% extends "base.html" %}

{% block title %}{{ super() }} Home{% endblock %}

{% block page_content %}
{% comment %} <h1>Hello Web World!</h1> {% endcomment %}
{% comment %} to greet a certain user {% endcomment %}

{% comment %}
    (Below) this is the old version of the h1 block which comes after the following line
{% endcomment %}
{% comment %} <h1>Welcome to Ragtime, {% if name %}{{ name }}{% else %}Anonymous{% endif %}!</h1> {% endcomment %}

<h1>Welcome to Ragtime,
    {% if current_user.is_authenticated %}
      {{ current_user.username }}
    {% else %}
      Anonymous
    {% endif %}
!</h1>

{% comment %} to give the user a different messaged based on their name {% endcomment %}
    {% comment %} this shows both messages when names are entered multiple times {% endcomment %}
    {% comment %} when the same name is entered twice, the second time it is entered it should already exist in the database {% endcomment %}
<div>
    {% if not known %}
    <p>Mucho gusto! (Nice to meet you!)</p>
    {% else %}
    <p>Enjoy your stay.</p>
    {% endif %}
</div>

<form method="POST">
    {% comment %} to hide the user data {% endcomment %}
    {{ form.hidden_tag() }}

    {% comment %} to create the form {% endcomment %}
    <div>
        {{ form.name.label }} <!-- field label - this shows as a textbox -->
        {{ form.name(id='my-field-id') }} <!-- field input with custom ID -->
    </div>
    <div>
        {{ form.submit() }} <!-- submit button -->

{% comment %}
        -> we now have a label, a field and a submit button being rendered
        -> this can be checked in the browser by inspecting the page
{% endcomment %}

    </div>
</form>
{% endblock %}

{% comment %}
    To use Flask-boostrap to render a form, instead of manually
    -> {% import "bootstrap/wtf.html" as wtf %}
    -> {{ wtf.quick_form(form) }}
    -> then checking this in the browser to check that it works
{% endcomment %}
